@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
    font-family: "Work Sans", Sans-serif;
  } */

  :root{
    --color-bg-primary: #982B1C;
    --color-bg-secondary: #111827;
    --color-bg-tatary: #331d11;
  
    --color-text-primary:#E87436;
    --color-text-main:#141414;
    --color-text-secondary:#111827;
    --color-text-tatary:#4B5563;

    --color-bg-btn-primary:#E87436;
    --color-bg-btn-secondary:#111827;
  }