@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
    font-family: "Work Sans", Sans-serif;
  } */

  :root{
    --color-bg-primary: #0f6d3f;
    --color-bg-secondary: #0f172a;
    --color-bg-tatary: #064e3b;
  
    --color-text-primary:#e91e63;
    --color-text-main:#1f1f1f;
    --color-text-secondary:#0f172a;
    --color-text-tatary:#4b5563;

    --color-bg-btn-primary:#e91e63;
    --color-bg-btn-secondary:#0f6d3f;
  }
